*,
*::before,
*::after {
  margin: 0;
  padding: 0; 
  box-sizing: inherit;
}

html {    
  font-size: 62.5%; 
}

@media only screen and (max-width: 68.75em) {
  html { font-size: 50%; } 
}

body {
  box-sizing: border-box; 
  background-image: linear-gradient(to right bottom, #ff6000, #563737);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 2 * 4vw); 
}

::selection {
  background-color: #ff6000;
  color: #F9F5F3;
}

@media only screen and (max-width: 68.75em) {
  .container {
      width: 100%;
      margin: 0;
      border-radius: 0; 
      } 
  }

