@import "../src/sass/base";
@import "../src/sass/buttons";
@import "../src/sass/footer";
@import "../src/sass/home";
@import "../src/sass/typography";
@import "../src/sass/utilities";
@import "../src/sass/variables";

@media only screen and (max-width: 68.75em) {
.container {
    width: 100%;
    margin: 0;
    border-radius: 0; 
    } 
}